<header>
    <h1><a href="#">jsGeek</a></h1>
    <h2>Welcome to my website!</h2>
</header>

<nav id="mainnav">
    <ul>
        <li><a ui-sref="main.about" ui-sref-active="selected-item">About</a></li>
        <li><a ui-sref="main.skills" ui-sref-active="selected-item">Skills</a></li>
        <li><a ui-sref="main.portfolio" ui-sref-active="selected-item">Portfolio</a></li>
        <li><a ui-sref="main.experience" ui-sref-active="selected-item">Experience</a></li>
        <li><a ui-sref="main.contact" ui-sref-active="selected-item">Contact</a></li>
    </ul>


</nav>