<h2 ng-init="word = 'Hello'; world='WoRlD'; world2='WoRlD2'; ">portfolio</h2>

<first-directive></first-directive>

<!--<say></say>-->

<!--Show example uMade gEditor-->

<!--<say-word word></say-word>-->
<!--<say-word word="Lorem ipsum"></say-word>-->
<!--<say-word word="Lorem ipsum" repeat="5"></say-word>-->

<!--<full-example></full-example>-->

<!--<compile-example-bad word1="word" word2="World"></compile-example-bad>-->
<!--<compile-example word1="word" word2="World"></compile-example>-->

<!--<template-example></template-example>-->
<!--<template-url-example></template-url-example>-->


<!--<h3>Binding examples</h3>-->
<!--<p ng-init="oneWay='1-way'">One way "oneWay" = {{ oneWay }} <button ng-click="oneWay = oneWay + ' upd!'">UPD</button></p>-->
<!--<p ng-init="twoWay='2-way'">Two way "twoWay" = {{ twoWay }} <button ng-click="twoWay = twoWay + ' upd!'">UPD</button></p>-->
<!--<isolated-scope-->
        <!--content="block"-->
        <!--my-attr="same name as in attr"-->
        <!--name-in-attr="Big-bang theory"-->
        <!--one-way="{{ oneWay }}"-->
        <!--two-way="twoWay"-->
        <!--real-one-way="oneWay"-->

        <!--call-me="updateVariables()"-->
        <!--call-me-arguments="updateVariables(msg, event)"-->
        <!--hello2="world2"></isolated-scope>-->


<!--<another-isolated-scope></another-isolated-scope>-->
<!--<another-isolated-scope></another-isolated-scope>-->
<!--<another-isolated-scope></another-isolated-scope>-->
<!--<another-isolated-scope></another-isolated-scope>-->

<!--<not-isolated-scope></not-isolated-scope>-->
<!--<not-isolated-scope></not-isolated-scope>-->
<!--<not-isolated-scope></not-isolated-scope>-->
<!--<not-isolated-scope></not-isolated-scope>-->

<!--<compile-template-example content="block"></compile-template-example>-->
<!--<compile-template-example ng-repeat="block in blocks" content="block"></compile-template-example>-->



